lib-cov
*.seed
*.log
*.log.*
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
*.class
classes
.settings
.classpath
.project
.metadata
*.iml

src/main/resources/config.properties
src/main/resources/jdbc.properties
src/main/resources/staticConfig.properties
src/main/resources/conf/local/config.properties
src/main/resources/conf/local/staticConfig.properties

pids
logs
.idea

npm-debug.log
build.sh
node_modules

target/*
/target/
src/main/resources/staticConfig.properties
src/main/webapp/demo
/bin/
